.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.navbar .title {
    color: var(--primary);
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 14px 20px;

    & strong {
        color: inherit;
        cursor: pointer;
    }
}

.navbar-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
